<div class="container">
  <table class="table">
    <thead>
      <tr>
        <% @headers.each do |header| %>
          <th> <%= header %> </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @data.each do |data| %>
        <tr>
          <% @headers.each do |stat| %>
              <td>
                <%= data[stat] %>
              </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>